.left {
    clear:both;
    width:30%;
    float:left;
    font-size: 18px;
    position: relative;
}
 
.right {
    width: 65%;
    float: right;
    padding-right: 30px;
    padding-bottom: 20px;
    display: block; 
   position: relative;
} 

body {
    font-family: monospace;
    font-size: 16px;
}

/* .name {
    font-size: 20;
    font-style: italic;
    color: red;
} */

.row-header{
    margin:0px auto;
    padding:0px;

}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    text-align: center;
    color:rgb(255, 255, 255);


}


address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}
